<template name="carForm">
  <form class="new-car">
      <div class="form-group">
        <label>Vin</label>
        <input type="text" name="vin" class="form-control" placeholder="Enter VIN number">
      </div>
      <div class="form-group">
        <label>Make</label>
        <input type="text" name="make" class="form-control" placeholder="Enter Make of the car">
      </div>
      <div class="form-group">
        <label>Model</label>
        <input type="text" name="model" class="form-control" placeholder="Enter Model of the car">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input type="text" name="year" class="form-control" placeholder="Enter Year of the car">
      </div>
      <div class="form-group">
        <label>Trim</label>
        <input type="text" name="trim" class="form-control" placeholder="Enter  Trim of the car">
      </div>
      <button type="submit">Add Car</button>
  </form>


</template>
